.python-version
*.lock**.json
xdg_config/nvim/plugin
packer_compiled.lua
xdg_config/lazygit/state.yml
xdg_config/lazygit/config.yml
./dotbot/
nvm
*.code-workspace
dotfiles.code-workspace
*.ignore
xdg_config/zsh/.revolver
.config
.vscode
xdg_config/worktrunk/config.toml.lock
xdg_config/superfile/*.bak-*
xdg_config/lazygit/github_pull_requests.json
xdg_config/worktrunk/approvals.toml
xdg_config/worktrunk/approvals.toml.lock
xdg_config/zsh/.zcompdump*
